# Data Analysis Assignment 2: Customer Service Data Solutions

## Business Issue and Understanding

## Getting Started
You will have two csv files to work

In [159]:
import pandas as pd
import numpy as np

north = pd.read_csv("NorthCallCenter.csv")
south = pd.read_csv("SouthCallCenter.csv")

<span style="background-color:orangered; color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

## Exploratory Data Analysis


1. How many reps are in each branch?
1. What is the average busy minutes, not ready minutes, incoming wait time, and during call wait time for each branch?
1. What is the number of calls taken for each time block?

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
#### EDA Question 1:  How many reps are in each branch?

In [160]:
# Option using value_counts() then literally counting
# 9 in NORTH
# 11 in SOUTH

# north_reps = north["Rep ID"].value_counts()
# north_reps

In [161]:
# Option using nunique()

# north_number_reps = north["Rep ID"].nunique()  # 9 reps in NORTH

# south_number_reps = south["Rep ID"].nunique()  # 11 reps in SOUTH

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span> 
#### EDA Question 2:  What is the average busy minutes, not ready minutes, incoming wait time, and during call wait time for each branch?

In [162]:
# Question 2:
# north.describe()
# south.describe()

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span> 
#### EDA Question 3:  What is the number of calls taken for each time block?

In [163]:
# Question 3: 
# north_calls_per_time_block = north["Time Block"].value_counts()
# north_calls_per_time_block

# OUTPUT
# 12:00 PM    45
# 10:00 AM    43
# 2:00 PM     35
# 3:00 PM     30
# 4:00 PM     28
# 11:00 AM    25
# 1:00 PM     17
# 5:00 PM     17
# 9:00 AM      5
# Name: Time Block, dtype: int64

# order of time blocks determined by count

<span style="background-color:orangered; color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

## Cleaning Your Data 

Clean your Data Set by checking for missing data, irregular data, unnecessary data, and inconsistent data.

**Questions to Answer:**
1. Are there any duplicates in the two data sets?
1. Is any of the data in these two data sets unnecessary?
1. Incoming wait time is null in many places.  Do all of those places correspond to outgoing calls?
1. In the north data set, there are 2 separate "YES" values for a sale.  Why and how do you rectify the issue?

#### Questions 1:
No

#### Questions 2: 
No (at least not for the purpose of this exrecise)

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
#### Cleaning Question 3:  Do all of the Incoming Wait Time null values correspond to outgoing calls?  
##### Option 1: using value_counts() only

In [164]:
# north_in_out_check = north["Incoming or Outgoing"].value_counts()
# north_in_out_check

# OUTPUT:
# Outgoing    163
# Incoming     82
# Name: Incoming or Outgoing, dtype: int64

# north_iwt = north["Incoming Wait Time"].value_counts(dropna=False)
# north_iwt

# OUTPUT
# NaN    163
# 4.0     20
# 5.0     17
# 1.0     17
# 2.0     16
# 3.0     12
# Name: Incoming Wait Time, dtype: int64

##### Option 2: Create 2 tables based on incoming and outgoing then apply value_counts.  

Resource: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

In [165]:
# Question 1: Option 2 --> created 2 tables based on incoming/outgoing and then counted incoming wait time. more exact.

        
# Table 1:  Table containing ONLY outgoing calls from the north branch
# north_out_table = north[north["Incoming or Outgoing"] == "Outgoing"]
# north_out_table["Incoming Wait Time"].value_counts()

# OUTPUT
# Series([], Name: Incoming Wait Time, dtype: int64)

# Table 2: Table containing ONLY incoming calls from the north branch
# north_in_table = north[north["Incoming or Outgoing"] == "Incoming"]
# north_in_table["Incoming Wait Time"].value_counts()

# OUTPUT
# 4.0    20
# 5.0    17
# 1.0    17
# 2.0    16
# 3.0    12

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
#### Cleaning Question 4:  In the north data set, there are 2 separate "YES" values for a sale. Why and how do you rectify the issue?

In [166]:
# yes_check = north["Sale"].value_counts()
# yes_check

# OUTPUT
# NO      234
# YES      10
# YES       1  # This yes is located in row 19
# Name: Sale, dtype: int64

# new_yes = north["Sale"].str.replace("YES ", "YES")  # There is an extra space after the "YES "
# new_yes.value_counts()
# north["Sale"] = new_yes
# north["Sale"].value_counts()

#OUTPUT
# NO     234
# YES     11
# Name: Sale, dtype: int64

<span style="background-color:orangered; color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

## Data Manipuation

Before you begin answering any questions, combine the two datasets together to create a third dataframe called df. You can use this third dataframe to compare the two call centers to company-wide trends.

1. Group by Rep ID and sum the resulting structure. Sort by calls to determine which rep in each branch has the highest number of calls.
1. The average call abandonment rate is a KPI when it comes to determining call center efficiency. As you may recall, abandoned calls are calls where the customer hangs up due to long call times. What is the average call abandonment rate for each branch and the whole company? Do any of these fall out of the optimal range of 2-5%?
1. Service level is another KPI when it comes to measuring call center efficiency. Service level is the percentage of calls answered within a specific number of seconds. In the case of your employer, their ideal time frame is 2 seconds. What is the percentage of calls answered within 2 seconds for each company and the entire company?
1. For each branch and the entire company, what is the average speed of answer?

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
#### Manipulation Question 1:  Sort by calls to determine which rep in each branch has the highest number of calls

In [167]:
# north_reps = north.groupby("Rep ID").sum()
# north_reps.sort_values("Calls", ascending=False)

# OUTPUT is a table listing each rep and their total number of calls:  
  # In the NORTH branch, Brent has 37 calls.  
  # In the SOUTH branch, Eric has 35 calls

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
#### Manipulation Question 2:  What is the average call abandonment rate for each branch and the whole company? Do any of these fall out of the optimal range of 2-5%?

In [168]:
# data frame for the entire company
df = north.append(south)

# Average Call Abandonment Rates 
# North = 2.86% (rounding up to students)
# avg_aban_rate_n = ((north["Abandoned"].sum()/north["Calls"].sum())*100).round(2)
# avg_aban_rate_n

# South = 1.27%
# avg_aban_rate_s = ((south["Abandoned"].sum()/south["Calls"].sum())*100).round(2)
# avg_aban_rate_s

# Company Wide = 1.97%
# avg_aban_rate_df = ((df["Abandoned"].sum()/df["Calls"].sum())*100).round(2)
# avg_aban_rate_df

<span style="color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
#### Manipulation Question 3:  What is the percentage of calls answered within 2 seconds for each branch and the entire company?

In [169]:
# NORTH
# seconds_n = (north["Incoming Wait Time"] <= 2.0).sum()  # 33 calls
# n_call_eff = (seconds_n/north["Calls"].sum()*100).round(2) # 13.47%

# SOUTH
# seconds_s = (south["Incoming Wait Time"] <= 2.0).sum()  # 48 calls
# s_call_eff = (seconds_s/south["Calls"].sum()*100).round(2) # 15.29%

# COMPANY WIDE
# seconds_df = (df["Incoming Wait Time"] <= 2.0).sum()  # 81 calls
# df_call_eff = (seconds_df/df["Calls"].sum()*100).round(2) # 14.49%

In [ ]:
# Question 4: 
df.d

In [170]:
company_reps = df.groupby("Rep ID").sum()
company_reps

,Unnamed: 0,Lost Call,Abandoned,Busy Minutes,Not Ready Minutes,Incoming Wait Time,During Call Wait Time,Calls
Rep ID,,,,,,,,
Alice,3637,0,0,199,46,15.0,58,20
Amanda,2666,0,1,229,43,12.0,60,23
Andy,2494,0,3,228,43,36.0,65,23
Brent,4840,0,1,362,71,17.0,117,37
Cam,2746,1,0,233,46,32.0,66,24
Duke,2999,2,0,292,56,39.0,85,29
Eric,5039,0,0,361,54,47.0,112,35
George,4620,0,0,298,53,41.0,87,29
Helga,5236,0,2,292,58,36.0,95,31
Joe,3178,0,0,256,49,36.0,81,26
Josh,3960,3,0,260,50,31.0,83,26
Karl,4532,1,0,287,61,26.0,85,28
Kate,4615,0,0,291,61,37.0,83,29
Lilly,3375,0,2,307,59,37.0,88,30
Randy,4576,3,1,320,66,47.0,98,33
Sandy,4694,1,0,325,60,34.0,100,32
Sharon,4226,1,1,257,38,29.0,77,25
Susan,4006,2,0,267,53,35.0,88,26
Todd,4252,1,0,296,58,21.0,97,29
Xander,3340,1,0,244,44,20.0,68,24

<span style="background-color:orangered; color:orangered;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

## Visualization

For each chart you created, eplain why you chose the chart style.

1. Abandonment Rate per Queue
1. What is the service level and average speed of answer per each rep?
1. For each type of call purpose, how many calls are outgoing vs incoming?

## Submit Your Work

## Bonus Mission

1. What are the time blocks of these call purposes? - groupby and plot